@import 'tailwindcss';
@import "flowbite/src/themes/default";


:root {
  background-color: #fff6ed;
  --background: white;
  --foreground: black;
  width: full;
}

@media (prefers-color-scheme: dark){
  :root{
    --background: white;
    --foreground: black;
  }
}

body{
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@plugin "daisyui" {
  themes: light --default;

}

.my-datepicker {
  @apply rounded-lg border border-gray-300 bg-white shadow-md;
}

/*calander head*/
.my-datepicker .react-datepicker__header {
  @apply bg-blue-200 font-bold text-blue-900;
}

.my-datepicker .react-datepicker__month-select,
.my-datepicker .react-datepicker__year-select {
  @apply mt-4 mb-2 rounded-lg border-gray-400 bg-gray-100 text-blue-900;
}

/* Day cells */
.my-datepicker .react-datepicker__day {
  @apply text-gray-700 hover:bg-blue-200;
}

/* Selected day */
.my-datepicker .react-datepicker__day--selected {
  @apply bg-blue-500 text-white;
}

/* Today */
.my-datepicker .react-datepicker__day--today {
  @apply border border-blue-400;
}
.leaflet-container {
  height: 100vh;
  width: 100wh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
